html{
    margin: 0px;
}
body{
    background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) ,url('https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-size: cover;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
    margin-top: -15px;
    top: 0px;
    left: 0px;
    width: 100%;
    
}
.logo{
    display: inline-block;
    left: -5px;
    margin-top: 2px;
    font-size: 27px;
    color: white;
    padding: 10px;
}
.u{
    color:rgb(109, 173, 203);
    font-weight: bold;
    text-shadow: 1px 1px rgb(16, 117, 164);
}
ul{
    list-style: none;
    padding: 0px;
}
#active{
    background-color: rgb(16, 117, 164);
}
.start{
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: 12px;
    margin: 10px 25px 10px 14.4%;
    font-size: 27px;
}
.login{
    background-color: rgb(16, 117, 164);
    position: relative;
    top:8px;
    padding:0px;
    margin:0px;
}
.nav-item:hover,.start:hover{
    transform: scale(1.07);
    background-color:rgb(16, 117, 164) ;
}
a{
    text-decoration: none;
    color: white;
}
.nav-item{
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    padding: 12px;
    margin: 10px 25px;
    font-size: 27px;
    }

.main{
    color: white;
    text-align: center;
    margin-top: 3%;
    font-size: 25px;
}

.content{
    font-size: 25px;
    margin: 4% 5%;
    text-align: justify;
    font-size: 30px;
    background-color:rgba(25, 158, 241, 0.2);
    padding: 18px 50px;
}

#para{
    font-size: 23px;
}